<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content">
        <h3 th:if="${user != null}" th:text="'Welcome, ' + ${user.userName} + '!'"></h3>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{/static_files/images/carousal-1.jpg}" class="d-block w-100" alt="First slide">
            </div>
            <div class="carousel-item">
                <img th:src="@{/static_files/images/carousal-2.jpg}" class="d-block w-100" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img th:src="@{/static_files/images/carousal-3.jpg}" class="d-block w-100" alt="Third slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="category">
        <p class="category-title">Best in Electronics</p>
        <div class=" display-products">
            <div class="product-card">
                <img th:src="@{/static_files/images/smart-watch.jpg}" alt="Smart Watch">
                <div class="product-details">
                    <div class="product-title">Smart Watch</div>
                    <p>$250</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/earbuds.jpg}" alt="Wireless Earbuds">
                <div class="product-details">
                    <div class="product-title">Wireless Earbuds</div>
                    <p>$150</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/4kMonitor.jpg}" alt="4K Monitor">
                <div class="product-details">
                    <div class="product-title">4K Monitor</div>
                    <p>$450</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/gamingLaptop.png}" alt="Gaming Laptop">
                <div class="product-details">
                    <div class="product-title">Gaming Laptop</div>
                    <p>$1200</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/bluetoothSpeaker.jpg}" alt="Bluetooth Speaker">
                <div class="product-details">
                    <div class="product-title">Bluetooth Speaker</div>
                    <p>$99</p>
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <p class="category-title">Best in Fashion</p>
        <div class="display-products">
            <div class="product-card">
                <img th:src="@{/static_files/images/leather-jacket.jpg}" alt="Leather Jacket">
                <div class="product-details">
                    <div class="product-title">Leather Jacket</div>
                    <p>$180</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/jeans.jpg}" alt="Designer Jeans">
                <div class="product-details">
                    <div class="product-title">Designer Jeans</div>
                    <p>$95</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/summer-dress.jpeg}" alt="Summer Dress">
                <div class="product-details">
                    <div class="product-title">Summer Dress</div>
                    <p>$70</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/sunglasses.jpg}" alt="Stylish Sunglasses">
                <div class="product-details">
                    <div class="product-title">Stylish Sunglasses</div>
                    <p>$120</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/shoes-1433925_1280.jpg}" alt="Running Shoes">
                <div class="product-details">
                    <div class="product-title">Shoes</div>
                    <p>$110</p>
                </div>
            </div>
        </div>
    </div>
    <div class="category" id="home-and-kitchen">
        <p class="category-title">Home & Kitchen</p>
        <div class="display-products">
            <div class="product-card">
                <img th:src="@{/static_files/images/espressoMachine.jpg}" alt="Espresso Machine">
                <div class="product-details">
                    <div class="product-title">Espresso Machine</div>
                    <p>$350</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/mixer.jpg}" alt="Stand Mixer">
                <div class="product-details">
                    <div class="product-title">Stand Mixer</div>
                    <p>$280</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/airFyer.jpg}" alt="Air Fryer">
                <div class="product-details">
                    <div class="product-title">Air Fryer</div>
                    <p>$120</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/vaccumCleaner.jpeg}" alt="Robotic Vacuum">
                <div class="product-details">
                    <div class="product-title">Robotic Vacuum</div>
                    <p>$400</p>
                </div>
            </div>
            <div class="product-card">
                <img th:src="@{/static_files/images/cookwareSet.jpg}" alt="Cookware Set">
                <div class="product-details">
                    <div class="product-title">Cookware Set</div>
                    <p>$220</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</html>

