<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ecommerce Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="w-100 d-flex justify-content-center">
            <form class="d-flex w-100" role="search" th:action="@{/products/search}" method="get">
              <input class="form-control me-2 search-bar"  type="search" name="query" placeholder="Search for products" aria-label="Search"/>
              <button class="btn btn-outline-success" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 w-50 d-flex flex-row justify-content-center">
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link active" aria-current="page" href="/">
                  <div class="d-flex flex-row align-items-center p-2 nav-add">
                    <i class="fa-solid fa-house"></i>Home
                  </div>
                </a>
              </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/cart}">
                        <div class="d-flex flex-row align-items-center p-2 nav-add">
                            <i class="fa-solid fa-cart-shopping"></i>Cart
                        </div>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/orders}">
                        <div class="d-flex flex-row align-items-center p-2 nav-add">
                            <i class="fa-solid fa-bag-shopping"></i>Orders
                        </div>
                    </a>
                </li>
              <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link active" aria-current="page" th:href="@{/login}">
                  <div class="d-flex flex-row align-items-center p-2 nav-add">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Login
                  </div>
                </a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link active" aria-current="page" th:href="@{/logout}">
                  <div class="d-flex flex-row align-items-center p-2 nav-add">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Logout
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
  </div>
</html>
